table {
    position: relative;
    border-collapse: collapse;
}

th {
    position: sticky;
    top: 0;
    background-color: white;
    border-top: 0 !important;
}

table svg {
    width: 25px;
}

@media (max-width: 1000px) {
  body {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 0.6rem;
  }
}

@media (max-width: 430px) {
  body {
    font-size: 0.5rem;
  }
}